<nav class="navbar"> 
   <button
      class="navbar__toggle"
      aria-label="{{ translate 'partials.menu.label' }}"
      aria-haspopup="true"
      aria-expanded="false">
      <span class="navbar__toggle__box">
         <span class="navbar__toggle__inner">{{ translate 'partials.menu.label' }}</span>
      </span>
   </button>
   
   <ul class="navbar__menu">
      {{#each items}}
         <li {{menuItemClasses}}>
            {{#if link}}
               <a
                  {{#if title}}
                     class="tltp"
                  {{/if}}
                  href="{{menuUrl}}"
                  {{#if target}}
                        target="{{target}}"
                  {{/if}}
                  {{#if rel}}
                        rel="{{rel}}"
                  {{/if}}
                  aria-label="{{label}}">
                  {{title}}
                  <span>{{label}}</span>
               </a>
            {{else}}
               <span 
                  {{#if title}}
                     class="tltp"
                  {{/if}}
                  aria-label="{{label}}"> 
                  {{title}}
                  <span>{{label}}</span>
               </span>
            {{/if}}
         </li>
      {{/each}}
   </ul>
</nav>
