{{> head}}
{{> navbar}}
<main class="main page">
   {{#if @customHTML.beforePage}}
      <div class="banner">
         <div class="main__inner">
            {{{@customHTML.beforePage}}}
         </div>
      </div>
   {{/if}}
   {{#page}}
      <article class="content">
         {{#featuredImage}}
            {{#if url}}
               <figure class="content__featured-image content__featured-image--attop">
                  <img
                     src="{{url}}"
                     {{#if @config.site.responsiveImages}}
                        {{responsiveImageAttributes 'featuredImage' srcset.post sizes.post}}
                     {{/if}}
                     {{ lazyload "eager" }}
                     height="{{height}}"
                     width="{{width}}"
                     alt="{{alt}}"
                     aria-describedby="image-caption">
               </figure>
            {{/if}}
         {{/featuredImage}}

         <div class="main__inner">
            <header class="content__header">
               <h1 class="content__title">{{title}}</h1>
               {{#if @config.page.displayPageLead}}
                  <p class="content__lead">{{@config.page.displayPageLead}}</p>
               {{/if}}
            </header>

            <div class="content__entry">
               {{{text}}}
            </div>     
         </div>
      </article>

      {{#if @config.page.displayChildPages}}
         {{#if subpages}}
            <div class="subpages">
               <div class="content__section content__comments">
                   <div class="main__inner">
                     <h2 class="h5 subpages__title">{{ translate 'page.childPages' }}</h2>
                     <ul class="subpages__list">
                        {{> subpages-list}}
                     </ul>
                  </div>
               </div>
            </div>
         {{/if}}
      {{/if}}

      {{#if @customHTML.afterPage}}
         <div class="content__section banner">
            <div class="main__inner">
               {{{@customHTML.afterPage}}}
            </div>
         </div>
      {{/if}}

   {{/page}}

</main>
{{> sidebar}}
{{> footer}}
